.style-k5mq022xscreenWidthBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-k5mq022x_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(248, 200, 83, 1);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
.style-k5mq022xcenteredContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-k5mq022xbg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-k5mq022x_bg-center {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: rgba(248, 200, 83, 1);
    border-radius: 0;
}
.style-k5mq022xinlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#comp-jrumyqoo {
    margin-left: calc((100% - 980px) * 0.5);
}
.style-juqx6vhu > nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-juqx6vhuitemsContainer {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
    position: absolute;
}
.style-juqx6vhurepeaterButton {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font: normal normal normal 17px/1.4em barlow-medium,barlow,sans-serif;
}
.style-juqx6vhurepeaterButtonlinkElement {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.style-juqx6vhurepeaterButton_gapper {
    padding: 0 5px;
}
.style-juqx6vhurepeaterButton[data-state~="selected"] .style-juqx6vhurepeaterButtonlabel, .style-juqx6vhurepeaterButton[data-preview~="active"] .style-juqx6vhurepeaterButtonlabel {
    color: #FFFFFF;
    transition: color 0.4s ease 0s;
}
.style-juqx6vhudropWrapper {
    z-index: 99999;
    display: block;
    opacity: 1;
    visibility: hidden;
    position: absolute;
    margin-top: 7px;
}
.style-juqx6vhumoreContainer {
    overflow: visible;
    display: inherit;
    white-space: nowrap;
    width: auto;
    background-color: rgba(248, 200, 83, 1);
    border-radius: 0;
}
#PAGES_CONTAINER {
    margin-left: calc((100% - 980px) * 0.5);
}
.pc1screenWidthBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pc1centeredContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pc1bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pc1inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-js4o6i27bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-js4o6i27inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#comp-js8zqm1l {
    margin-left: calc((100% - 980px) * 0.5);
}

.strc1[data-responsive] > * {
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column-span: 1;
    margin: 0 auto;
}
.strc1[data-responsive] > .strc1inlineContent {
    display: flex;
}
.mc1:not([data-mobile-responsive]) .mc1inlineContent, .mc1:not([data-mobile-responsive]) .mc1container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mc1:not([data-mobile-responsive]) .mc1inlineContent, .mc1:not([data-mobile-responsive]) .mc1container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#comp-jsaapoy6 {
    margin-left: calc((100% - 980px) * 0.5);
}
.style-jsaapp7l {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.style-jsaapp7llink, .style-jsaapp7lsvg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-jsaapp7llink, .style-jsaapp7lsvg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-jsaapp7l svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}
.style-jsaapp7l_non-scaling-stroke * {
    vector-effect: non-scaling-stroke;
}
.color_18 {
    color: #413ADA;
}
.txtNew > * {
    pointer-events: auto;
}
.txtNew p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.font_4 {
    font: normal normal bold 90px/1.4em barlow-medium,barlow,sans-serif;
    color: #413ADA;
}
.font_5 {
    font: normal normal bold 24px/1.4em barlow-medium,barlow,sans-serif;
    color: #FFFFFF;
}
.s_LLkvEcontrollerIconAndNameSkin {
    z-index: 70;
    display: table;
}
#comp-js0cqnxh {
    margin-left: calc((100% - 980px) * 0.5);
}
.LinearProgressBar4231169923--root {
  width: 100%;
  display: flex;
  align-items: center;
}

.LinearProgressBar4231169923--progressIndicationSection {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinearProgressBar4231169923--barContainer {
  width: 100%;
  position: relative;
  height: 100%;
}

.LinearProgressBar4231169923--barBackground,.LinearProgressBar4231169923--barForeground{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.LinearProgressBar4231169923--barBackground {
  width: 100%;
}
.StylableButton3172224474--root {
    -archetype: box;
    cursor: pointer;
    border: none;
    display: block;
    min-width: 10px;
    min-height: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
}
	.color_27 {
    color: #F47A62;
}
